.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .header {
      max-width: 928px;
      width: calc(100% - (24px*2));
    }
  }

  @media screen and (max-width: 720px) {
    .header {
      width: calc(100% - (16px*2));
    }
  }

@media screen and (max-width: 320px) {
    .header {
      max-width: 288px;
  }
}