.lead__title {
font-size: 96px;
font-style: normal;
font-weight: 900;
text-align: center;
margin: 0;
line-height: 1.04;
min-width: 70%;
z-index: 7;
}

@media screen and (max-width:540px) {
  .lead__title { 
    min-width: 93.75%;
      }
  }
  
  @media screen and (max-width:540px) {
.lead__title { 
  width: 90%;
  font-size: 40px;
  line-height: 1.1;
    }
  }
