.footer__link_active {
    color: white;
    list-style-type: none;
    text-decoration: none;
    transition: opacity .5s ease-in-out;
    }
    
    .footer__link_active:hover {
        opacity: .8;  
    }