.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "title website"
  "image paragraph"
  "image paragraph"
  "image paragraph";
  margin: 0 0 80px 0;
  padding: 0;
}

  .place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width:980px) {
  .place {
    grid-column-gap: 28px;
}
  }

@media screen and (max-width:768px) {
  .place {
    margin: 0 0 73px 0;
    grid-column-gap: 0;
}
  }

  @media screen and (max-width:760px) {
    .place {
      grid-column-gap: 16px;
  }
    }

  @media screen and (max-width:720px) {
      .place {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "title"
        "website"
        "image" 
        "paragraph";
        margin: 0 0 48px 0;
        grid-column-gap: 0;
    }
      }
