.intro__title {   
font-size: 54px;
font-style: normal;
font-weight: 900;
line-height: 1.1;
text-align: left;
max-width: 690px;
margin: 0;
}

@media screen and (max-width:320px) {
    .intro__title {
      font-size: 32px;
      max-width: 288px;
    }
  }